#root {
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.flex-vertical {
  display: flex;
  flex-direction: column;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

.main-container {
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin: 2em 0;
}

.card {
  padding: 1em;
}

.card-left {
  flex: 4 1 auto;
}

.card-right {
  flex: 4 1 auto;
}

.action-wrapper {
  flex: 1 1 auto;
  padding: 0 1em;
  gap: 1em;
}

.sub-action-btn {
  padding: 0 0;
  display: flex;
  gap: 1em;
}

textarea.json-textarea {
  width: 100%;
  height: 100%;
  min-height: 70dvh;
  font-size: 18px;
}

.read-the-docs {
  color: #888;
}

.alert-text {
  font-size: 18px;
  font-weight: bold;
  color:rgb(255, 52, 52);
  margin: auto;
}

@media (prefers-color-scheme: light) {
  .alert-text {
    color:rgb(217, 10, 51);
  } 
}

/* button */

.action-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e6e6e6;
  cursor: pointer;
  transition: border-color 0.25s;
}
.action-button:hover {
  border-color: #646cff;
}
.action-button:focus,
.action-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.action-button.active {
  border-color: #646cff;
}